modules/extensions-spring-support/src/test/resources/attributes-with-default-constructor.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:heisenberg="http://www.mulesoft.org/schema/mule/heisenberg"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/heisenberg http://www.mulesoft.org/schema/mule/heisenberg/current/mule-heisenberg.xsd">

    <flow name="purify-meta">
        <heisenberg:purify requester="Krazy-8" purity="88">
            <!--<heisenberg:meta purity="88"/>-->
            <heisenberg:request>#['Please Pinkman, purify this for me.']</heisenberg:request>
        </heisenberg:purify>
    </flow>


</mule>
